.tab {
    display: none;
  }
  .tab.active {
    display: block;
  }
  .tab-buttons {
    display: flex;
    cursor: pointer;
  }
  .tab-buttons div {
    padding: 10px;
    border: 1px solid #ffffff;
    margin-right: 5px;
  }
  .tab-buttons .active {
    background-color: #ddd;
  }